@import url('"https://www.apple.com/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3');
html{
    padding: 0;
    margin: 0;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
   background-color: black;
}
.main{ 
    width: 120vh;
    height: 98vh;
    margin:0 auto;font-family: "SF Display";
    color: #c000f0;
    background-color:grey;
    background-image: url("../image/bg1.jfif");
    background-position: center;
 } 
span {
    position: absolute;
    display: block;
  }
  .progressbar {
    position: fixed;
    top: 0;
    left: 85%;
    background: #ff0000;
    width: 1px;
    z-index: 1;
  }  
  .navigation{
    display: block;
    user-select: none;
    margin: 10px 0;
  }
  
  .navigation span:before {
    width: 0;
    color: #ff1998;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
  }
  .navigation span:hover:before {
    width: 100%;
  }
.bg{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.bg img{
    width: 450px;
    transition: 1s;
}
.bg img:hover{
    transition: 1s;
    transform: scale(.9);
}
.logo{
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.logo img{
    width: 90px;
    opacity: 40%;
    transition: 1s;
}
.logo img:hover{
    transition: 1s;
    transform: scale(1.1);
    width: 90px;
    opacity: 100%;
}
.wrong{
    font-size: 90px;
}
.wrong1{
    font-size: 80px;
}
.fill{
    font-size: 70px;
}
.fill{
    position: absolute;
    top: 40%;
    right: 15%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
}
.fill:hover{
    text-shadow: 5px 5px black;
}
.wrong{
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.wrong1{
    color: #d3cccc;
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    transform: rotate(180deg);
    transition: 0.3s;
}
.wrong1:hover{
    color: #FF0000;
    text-shadow: 5px 5px black;
    opacity: 2;
}
.barcode{
    position: absolute;
    top: 90%;
    left: 73%;
    transform: translate(-50%, -50%);
    background-color: #ffffff9d;
}
.barcode img{
    width: 100px;
    transition: 1s;
}
.barcode img:hover{
    transition: 1s;
    background-color: #FF0000;
    transform: scale(.9);
}
@media only screen and (max-width: 500px){
    body{
        position: fixed;
        width: fit-content;
        width: 110%;
    }
    .main{
        padding-left: 190px;
        width: 110%;
        height: 100%;
        overflow-y: hidden;
    }
    .navigation{
        display: block;
        user-select: none;
        margin: 0px 0;
      }
      
    .bg{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    .bg img{
        width: 500px;
    }
    .logo{
        display: none;
    }
    .wrong1{
        color: #d3cccc;
        position: absolute;
        top: 75%;
        left: 15%;
        transform: translate(-50%, -50%);
        transform: rotate(180deg);
        transition: 0.3s;
    }
    .wrong{
        font-size: 40px;
        display: none;
    }
    .wrong1{
        font-size: 40px;
        transform: rotate(180deg);
    }
    .fill{
        position: absolute;
        top: 25%;
        left: 75%;
        transform: translate(-50%, -50%);
        transform: rotate(90deg);
    }
    .fill{
        font-size: 50px;
    }    
    .barcode{
        position: absolute;
        top: 90%;
        left: 13%;
        transform: translate(-50%, -50%);    
    }

}
